.info-context {
  width: 100%;
}
.info-context-name {
  font-family: var(--font-base);
  font-style: normal;
  font-weight: 600;
  font-size: 29px;
  line-height: 32px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.info-context-name-heading {
  font-family: var(--font-base);
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 48px;
  padding: 0.4rem 0;
  color: var(--color-white);
}
.info-context-name-description {
  font-family: var(--font-base);
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 46px;
  color: var(--color-white);
}

@media screen and (max-width: 1150px) {
  .info-context-name-heading {
    font-size: 38px;
  }
  .info-context-name-description {
    font-size: 25px;
  }
}
